.App {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:  "n" "m" "o" "t ""f";
  grid-template-rows: 10vh 10vh auto 10vh 10vh;
  height: 100vh;
}

.PennyNav {
  grid-area: n;
}

.Home {
  grid-area: m;
}

.chatOut {
  grid-area: o;
}

.chatTyping {
  grid-area: t;
}

#sendChat {
  grid-area: f;
}