.App {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:  "n" "m" "f";
  grid-template-rows: 1fr;
  grid-template-rows: repeat(3, 30vh);
  height: 100vh;
}

.PennyNav {
  grid-area: n;
}

.Home {
  grid-area: m;
}

#send-chat {
  grid-area: f;
}