.Chat > input{
  width: 100%;
  height: 6vh;
}

.chatOut {
  display: flex;
  width: 100%;
  height: 20vh;
  display: grid;
  grid-gap: 5px;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: auto;
  overflow: auto;
  word-wrap: break-word;
  overscroll-behavior: auto;
}

.eachMessage {
  width: 100%;
  justify-content: flex-start;
  border: 1px solid rgb(92, 23, 119);
  border-radius: 10px;
  padding: 5px;
}

.theirMessages {
  width: 100%;
  justify-content: flex-end;
  border: 1px solid rgb(85, 223, 85);
  border-radius: 10px;
  padding: 5px;
  text-align: right;
}

.Chat > button {
  width: 100%;
  background-color: rgb(92, 23, 119);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  height: 6vh;
}

#receiveChat {
  height: 6vh;
  background-color: rgb(85, 223, 85);
}